version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
        - dependency-name: "org.codenarc:Codenarc"
        - dependency-name: "org.codehaus.groovy:*"
        - dependency-name: "org.sonarsource.api.plugin:sonar-plugin-api"
        - dependency-name: "org.sonarsource.sonarqube:sonar-plugin-api-impl"
        - dependency-name: "org.gmetrics:*"
    groups:
      dev-deps:
        dependency-type: "development"
      prod-deps:
        dependency-type: "production"
    commit-message:
      prefix: "build(deps): "

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "weekly"
